@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <title>Search for your movie</title>
</head>

<body>
    <header>
        <div class="header-flex">
            <figure id="home">
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/img/popcorn-time.png" alt="Cineaste Movie Database" class="CMDb-icon">
                    <p id="title-header">CMDB</p>
                </a>
            </figure>



            <form action="@Url.Action("Index", "Search")" class="form-flex">
                <input type="text" name="SearchString" placeholder="Search for a movie" class="movie-search">
                <input type="submit" value="Search" class="btn-moviesearch" />
            </form>
        </div>
    </header>

    @RenderBody()

    <footer class="site-footer">
        <div id="footern">
            <p id="copyright">
                Copyright 2020 &copy; Patric Lindberg & Samuel Ström
            </p>
        </div>
    </footer>





    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/js/movie-details.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/formHandler.js"></script>
    @RenderSection("Scripts", required: false)




</body>

</html>


















