@*@model CMDbAPI.ViewModel.ErrorViewModel*@


@{
    ViewData["Title"] = "Error";
}

<div class="error-container">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>


    <div>
        <h4>Exception Message:</h4>
        <h3 id="exception-Message"><strong>@ViewBag.exceptionMessage</strong></h3>
    </div>
    <div>
        <h4>Exception Path:</h4>
        <h4 id="exception-Message"><strong>@ViewBag.exceptionPath</strong></h4>
    </div>
    <p>
        Our staff is looking at the error log file as soon as possible. Please try again later.
        <br />
        Kind regards/ Patric & Samuel
    </p>
</div>
