h1 {
    text-align: center;
    font-size: 3em;
}

.top-movie-container {
    text-align: center;
    border-bottom: medium solid black;
    margin: 1% 0%;
}

.top-movie-container p {
    font: bold large Georgia;
}

#Count {
    width: 4vh;
}

.top-movie {
    margin: auto;
    height: 450px;
    width: 300px;
}

.movie-container {
    width: 320px;
}

.rankings-flexbox {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 2% auto;
    text-align: center;
}

.rating-container-home {
    display: flex;
    justify-content: space-evenly;
}

.ratings-flexbox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2% 0%;
    align-items: center;
}

#ratings-title {
    margin-top: 5%;
    margin-bottom: -25px;
}

figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: auto;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    margin: auto;
    display: block;
    text-align: center;
    width: 294px;
    margin-top: -4px;
}

.likes-flexbox {
    display: flex;
    justify-content: space-evenly;
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
    text-align: center;
}

input {
    margin: .4rem;
}

fieldset {
    margin-top: 0;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    margin: auto;
}

    fieldset p {
        margin: 2%;
    }

#filter-btn {
    width: 6vh;
    height: 1.8vh;
    background-color: darkgrey;
    margin-top: 20px;
    border: thin solid black;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

    #filter-btn:hover {
        background-color: lightgrey;
    }


.search-container {
    margin: 1% auto;
}

.search-movies-flexbox {
    display: flex;
    border: 1px solid black;
    align-items: center;
    font: large Georgia;
    width: 80%;
    margin: auto;
}

    .search-movies-flexbox p {
        margin-left: 5%;
    }

    .search-movies-flexbox img {
        width: 240px;
        height: 320px;
        margin-left: 0px;
    }

#center {
    text-align: center;
    font-size: 20px;
    clear: both;
}

#SelectedType {
    margin: 5px 0 0 10px;
}

.form-select {
    float: left;
}

#form-submit {
    background-color: darkgrey;
    border: thin solid black;
    cursor: pointer;
}

    #form-submit:hover {
        background-color: lightgrey;
    }

.navigation-container {
    text-align: center;
}

    .navigation-container p {
        font: larger Times;
    }

.navigation-flex {
    display: flex;
    justify-content: center;
}

.btn.btn-default {
    width: 7vh;
    height: 1.8vh;
    background-color: darkgrey;
    cursor: pointer;
    border: thin solid black;
    font-weight: bold;
    font: bold large Times;
    padding: 5px 15px;
    color: black;
    margin: 1%;
    text-align: center;
}

.btn.btn-default:hover {
    background-color: lightgrey;
}

.btn.btn-default.disabled {
    width: 7vh;
    height: 1.8vh;
    background-color: darkgrey;
    cursor: pointer;
    border: thin solid black;
    font-weight: bold;
    font: bold large Times;
    pointer-events: none;
    opacity: 0.3;
    padding: 5px 15px;
    color: black;
    margin: 1%;
}

#left {
    float: left;
    font: bold large Times;
}
