body {
    background-color: #eee;
}

/*--------------------HEADER-------------  */

header {
    min-height: 10vh;
    background: #ba2d2d;
    background: linear-gradient(to bottom right, #C70D0D, rgb(148, 15, 15));
}

header a {
    color: #eee;
    text-decoration: none;
    font-size: 125%;
}

a:hover {
    background: black;
    background-color: hsla(0, 0%, 2%, 0.2);
}

.header-flex {
    display: flex;
    justify-content: space-evenly;
}

.movieSearch {
    width: 50%;
    height: 40px;
    margin: auto;
    margin-right: 0px;
    margin-top: 2%;
    border: none;
    border-radius: 5px;
}

input[type="text"] {
    font-size: 20px;
    padding-left: 1%;
}

.btnMovieSearch {
    height: 42px;
    width: 10%;
    margin: auto;
    margin-left: 1px;
    margin-top: 2%;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
}

.btnMovieSearch:hover {
    cursor: pointer;
    background-color: grey;
}


#CMDb-icon {
    float: left;
    height: 70px;
    margin-right: 2%;
}

header figcaption {
    text-align: center;
    font-weight: bold;
}





/*-----------------TOPPFILMER------------  */
h1 {
    text-align: center;
    font-size: 3em;
}

.top-movie-container {
    text-align: center;
    border-bottom: medium solid black;
    margin: 2% 0%;
}

.top-movie-container p {
    font: bold large Georgia;
}

.top-movie {
    display: block;
    margin: auto;
}

.rankings-flexbox {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.ratings-container {
    width: 75%;
    margin: auto;
}

.ratings-flexbox {
    display: flex;
    justify-content: space-evenly;
    margin: 2% 0%;
}

figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: auto;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    margin-top: -4px;
}


/*-----------------Sökta filmer------------  */

#searchedMovieImg {
    max-height: 300px;
}

.searchedMovie-flexbox {
    display: flex;
    /*/justify-content: space-evenly;*/
        flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    
}

.searhedMovie-container {
    width: 75%;
    margin: auto;
}



/* ----------------MovieDetails---------------------*/

.wrapper {
    display: flex;
    justify-content: center;
}

.flexbox-column {
/*    border: 1px solid black;*/
    width: 30%;
    margin: 3% 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flexbox-column-movie {
/*    border: 1px solid black;*/
/*    width: 30%;*/
    margin: 3% 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flexbox-row {
    display: flex;
    justify-content: center;
}

.flexbox-row p{
    margin: 5% 5%;
}

.center {
    margin: 2% 0%;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#center {
    text-align:center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#plot {
    font: italic medium Georgia;
}
#subplot {
    font: bold medium Georgia;
}

#normal {
    font: bold medium Georgia;
}

#normal-label {
    font: larger Georgia;
}


.bigger {
    font: bold x-large Georgia;
}

.read-more {
    margin: 0% auto;
/*    height: 1.5em;
    line-height: 1.5em;*/
    color: white;
    background-color: black;
    width: 10vh;
    text-decoration: none;
    border-radius: 5px;
}

.read-more:hover {
    background-color: grey;
    cursor: pointer;
}
#more {
    display: none;
}

/*Gamla knappen*/
/*.read-more {
    margin: 0% auto;
    height: 1.5em;
    line-height: 1.5em;
    background-color: black;
    color: white;
    width: 8vh;
    text-decoration: none;
    border-radius: 8px;
}*/



.wrapper-like {
    display: flex;
    justify-content: space-evenly;
}

#rating-icon {
    width: 200px;
}

#rating-icon:hover {
    background-color: #eee;
    background-image: url("https://www.freeiconspng.com/uploads/dislike-button-png-1.png");
}



/* ----------------FOOTER---------------------*/
.site-footer {
    height: 150px;
    padding: 1%;
    background: #ba2d2d;
    color: white;
    background: linear-gradient(to bottom right, #C70D0D, rgb(148, 15, 15));
    text-align: center;
    display: block;
    margin: auto;
}

#copyright {
    font-size: 20px;
    font-weight: bold;
}
